<nav class="navbar navbar-inverse navbar-md navbar-expand-lg" role="navigation">
            <li style="list-style-type:none">
              <a class="navbar-brand btn" [routerLink]="['/ppd']">Info</a>
              <a class="navbar-brand btn" [routerLink]="['/zoning']">Zoning</a>
              <a class="navbar-brand btn" [routerLink]="['/courcellesmotte']">Gare</a>
              <a class="navbar-brand btn" [routerLink]="['/carrefourmarket']">Carrefour Mrkt</a>
              <a class="navbar-brand btn" [routerLink]="['/placelagneau']">Place Lagneau</a>
              <a class="navbar-brand btn" [routerLink]="['/foot']">Terrain de foot</a>
            </li>
        </nav>
         
<h1 class="text-center">Points de première destination</h1>
<div class="text-justify">
Ce point constitue un point de rendez-vous, situé à l’écart du danger, que tous les intervenants doivent impérativement rejoindre par un itinéraire extérieur à la zone d’intervention.
Le Plan d’Urgence arrête plusieurs points envisageables. L’opportunité de choisir le PPD est laissée au Dir-PC-Ops.
La discipline 3 facilitera l’approche du PPD et le fera préalablement évacuer s’il y a lieu de le faire.<br>Chaque discipline fournit un chef parking au PPD.<br>
<br>
Positions prédéterminées pour les PPD.
<li>Qualités essentielles
<li>	Son accessibilité
<li>	Possibilité de parking
<li>	Idéalement proche de la zone sinistrée </li><br>
<u>Missions des responsables PPD ( 1 responsable par discipline)</u><br>
Transmettre au PC-Ops l’inventaire des moyens disponible<br>
Informer les arrivants de la situation sur le chantier et des consignes de sécurité en vigueur<br>
Informer les arrivants en fonction de leur discipline, de la fréquence utilisée et de l’indicatif attribué<br>
Remettre aux arrivants un plan avec le tracé de l’itinéraire à suivre pour se rendre à l’endroit de leur mission<br>
<br>
<u>Communication</u><br>
Chaque chef de parking est sur le réseau radio de sa discipline et communique avec l’opérateur de sa discipline situé au PC-Ops.<br>
</div>
