<nav class="navbar navbar-inverse navbar-md navbar-expand-lg" role="navigation">
            <li style="list-style-type:none"><a class="navbar-brand btn" href="ppd">Info</a>
            <a class="navbar-brand btn" href="ppd-lieux">Lieux</a>
</nav>

<div class="text-justify"> 
  <u>Zoning de Courcelles :</u> rue de Hainaut possibilité de garer des véhicules le long de la route dans le zoning à 2 min de la montée d’autoroute E42.
 <img src="" class="rounded-circle" alt="Zoning de courcelles"> 


</div>
      