<nav class="navbar navbar-inverse navbar-md navbar-expand-lg" role="navigation">
            <li style="list-style-type:none"><a class="navbar-brand btn" href="ppd">Info</a>
            <a class="navbar-brand btn" href="ppd-lieux">Lieux</a>
</nav>

<div class="text-justify"> 
  <u>Zoning de Courcelles :</u> rue de Hainaut possibilité de garer des véhicules le long de la route dans le zoning à 2 min de la montée d’autoroute E42.
 <img src="https://cdn.jsdelivr.net/gh/Gerewy/appli-commune@master/zoningcourcelles.PNG" class="img-rounded" alt="Zoning de courcelles"> 

</div>
      <a href="geo:50.4803434,4.3568173,17?q=m" class="btn fancy-button btn-embossed"><span class="material-icons">home</span></a>