<meta name="viewport" content="width=device-width, initial-scale=1.0,">
 <h1>Introduction</h1>
        <div class="text-justify">Ce document aide-mémoire a pour objectif d'aider
son utilisateur lors de la phase « réflexe » (souvent
chaotique) d'une situation d'urgence gérée en
phase communale.
Il ne remplace pas la documentation exhaustive
(AR, PIP, NPU, ...) sur laquelle il se base.
Le logiciel (opensource) OpenOffice a été utilisé
pour sa réalisation.
Toute suggestion ou remarque en vue de corriger
ou d'améliorer ce document est la bienvenue :
zp.trieux.mrop@police.belgium.eu </div>