<h1 class='text-center'>Missions</h1>
        <div class='col-lg-12 text-justify'>
            
            
             <ul>Représenter la D3 au sein du comité de
coordination afin d'assurer la concertation et la
coordination avec les autres disciplines au niveau
stratégique
<li>
    Veiller à l'exécution des missions de police
nécessaires conformément à la philosophie du
PIP :
<ul>
<li> Maintenir et rétablir l'ordre public
</li>
 <li>Dégager les voies d'accès et
d'évacuation et, le cas échéant, escorter les
services de secours et les moyens jusqu'au
lieu de l'événement</li>

<li>Prendre les mesures liées à la circulation</li>

<li>Installer, délimiter physiquement, signaler
et surveiller les périmètres ainsi que
contrôler l'accès aux zones</li>

<li>Procéder à l'évacuation de la population
et veiller au confinement</li>

<li> Identifier les corps</li>

<li> Prêter assistance à l'enquête judiciaire</li>
</ul>
<li> Veiller à l'exécution des missions de police
nécessaires conformément à l'Art. 17 de la LFP :
<ul>
<li> les services de police, se rendent sur les
lieux (de la catastrophe) et avertissent les
autorités administratives et judiciaires
compétentes</li>

<li> En attendant l'intervention de ces
autorités, ils prennent de commun accord toutes les mesures propres à sauver les
personnes en danger, à protéger
l'évacuation des personnes et des biens et
à empêcher le pillage</li>

<li> A cette fin, ils peuvent requérir le
concours de la population qui est tenue
d'obtempérer et de fournir, s'il échet, les
moyens nécessaires.<br>
Ils ne quittent les lieux de la calamité, de la
catastrophe ou du sinistre qu'après en avoir
averti un officier de police administrative et
s'être assurés que leur présence n'est plus
nécessaire pour exécuter des missions de
police administrative et judiciaire.</li>
</ul>
</li>

            <li> Sur base des décisions stratégiques, donner des
instructions au DIR-POL</li>
<li>Informer l'autorité compétente des mesures
prises par les services de police et des résultats de
ces interventions policières</li>
<li> Informer l'autorité compétente des problèmes de
sécurité (signalés par DIR-POL) et proposer des
mesures en vue de leur résolution</li>
<li> En accord avec l'autorité compétente, définir le
contenu des communiqués de presse de la police –
diffusion via D5</li>
<li> Désigner le Dir-POL ou le Dir PC-OPS (si la D3
assure cette fonction)</li>
<li> Décider de l'éventuelle mise en place d'une
    cellule de soutien (voir LOGI)</li>
             </ul>
        </div>   