<nav class="navbar navbar-inverse navbar-md navbar-expand-lg" role="navigation">
            <li style="list-style-type:none">
              <a class="navbar-brand btn btn-text" [routerLink]="['/ppd']">Info</a>
              <a class="navbar-brand btn btn-text" [routerLink]="['/ppd-lieux']">Zoning</a>
              <a class="navbar-brand btn btn-text" [routerLink]="['/courcellesmotte']">Gare</a>
              <a class="navbar-brand btn btn-text" [routerLink]="['/']">Place Lagneau</a>
              <a class="navbar-brand btn btn-text" [routerLink]="['/']">Gare</a>

            </li>
</nav>

<div class=""> 
  <u>Gare de Courcelles Motte :</u><br> Parking de la gare de Courcelles Motte, peu fréquenté en temps normal. A proximité  de la montée d’autoroute E420/A54
 <img src="https://cdn.jsdelivr.net/gh/Gerewy/appli-commune@master/courcellesmotte.PNG" class="img-rounded" alt="Zoning de courcelles"> 

</div>
<a href="https://www.google.com/maps/search/?api=1&query=courcelles+motte" class="btn btn-inverse btn-block btn-embossed"><span class="material-icons" >location_on</span></a>