<h1 class='text-center'>Points d'attention</h1>
            <div class='col-lg-12 text-justify'> 
                
                                    Test radio avec le Dir-Pol
                                    => <a [routerLink]="['/radio']" class='btn btn-md btn-success'>Schéma COMM R</a>
                <ul style="list-style">
                                    <li>Tenir un cahier de veille (Prendre note de toutes
                                    les communications utiles, de toutes les directives
                                    et de toutes les mesures prises, en mentionnant à
                                    chaque fois l'heure)</li>
                                    <li>Bien-être du personnel (mesures et moyens de
                                    protection, relève, repas et boissons, ...)</li>
                                    <li>Mettre régulièrement à jour toutes les
                                    informations recueillies et nécessaires à la
                                    rédaction de l'évaluation intermédiaire et finale de
                                    la D3</li>
                                    <li>Tient compte des accords et des protocoles
                                    d'accord existants</li>
                                    <li>Met les assistants sociaux à la disposition de la
                                    D2 et l'officier presse à disposition de la D5</li>
                </ul>
            </div>