<nav class="navbar navbar-inverse navbar-md navbar-expand-lg" role="navigation">
            <li style="list-style-type:none">
              <a class="navbar-brand btn" [routerLink]="['/ppd']">Info</a>
              <a class="navbar-brand btn" [routerLink]="['/zoning']">Zoning</a>
              <a class="navbar-brand btn" [routerLink]="['/courcellesmotte']">Gare</a>
              <a class="navbar-brand btn" [routerLink]="['/carrefourmarket']">Carrefour Mrkt</a>
              <a class="navbar-brand btn" [routerLink]="['/placelagneau']">Place Lagneau</a>
              <a class="navbar-brand btn" [routerLink]="['/foot']">Terrain de foot</a>
            </li>
        </nav>

<div class=""> 
  <u><strong>Carrefour Market :</strong></u><br> Parking du magasin carrefour Market  <br>Rue de Gosselies
à proximité de la montée du R3.

 <img src="https://cdn.jsdelivr.net/gh/Gerewy/appli-commune@master/src/app/images/carrefourmarket.PNG" class="img-rounded" alt="Zoning de courcelles"> 

</div>
<a href="https://www.google.com/maps/search/?api=1&query=Rue+de+Gosselies+76+6183+Courcelles" class="btn btn-inverse btn-block btn-embossed"><span class="material-icons" >location_on</span></a>