<nav class="navbar navbar-inverse navbar-md navbar-expand-lg" role="navigation">
            <li style="list-style-type:none">
              <a class="navbar-brand btn" [routerLink]="['/contact']">Tout</a>
              <a class="navbar-brand btn" [routerLink]="['/exterieur']">Extérieur</a>
              <a class="navbar-brand btn" [routerLink]="['/d1pompier']">D1 Pompier</a>
              <a class="navbar-brand btn" [routerLink]="['/d2medical']">D2 Medical</a>
              <a class="navbar-brand btn" [routerLink]="['/d3po']">D3 Police</a>
              <a class="navbar-brand btn" [routerLink]="['/']">D4 Logistique</a>
              <a class="navbar-brand btn" [routerLink]="['/']">D5 Communication</a>
            </li>
        </nav>

