<nav class="navbar navbar-inverse navbar-md navbar-expand-lg" role="navigation">
            <li style="list-style-type:none">
              <a class="navbar-brand btn" [routerLink]="['/']">Tout</a>
              <a class="navbar-brand btn" [routerLink]="['/']">Extérieur</a>
              <a class="navbar-brand btn" [routerLink]="['/']">D1 Pompier</a>
              <a class="navbar-brand btn" [routerLink]="['/']">D2 Medical</a>
              <a class="navbar-brand btn" [routerLink]="['/']">D3 Police</a>
              <a class="navbar-brand btn" [routerLink]="['/']">D4 Logistique</a>
              <a class="navbar-brand btn" [routerLink]="['/']">D5 Communication</a>
            </li>
        </nav>

