<nav class="navbar navbar-inverse navbar-md navbar-expand-lg" role="navigation">
            <li style="list-style-type:none">
              <a class="navbar-brand btn" [routerLink]="['/']">Tout</a>
              <a class="navbar-brand btn" [routerLink]="['/zoning']">Extérieur</a>
              <a class="navbar-brand btn" [routerLink]="['/courcellesmotte']">D1 Pompier</a>
              <a class="navbar-brand btn" [routerLink]="['/carrefourmarket']">D2 Medical</a>
              <a class="navbar-brand btn" [routerLink]="['/carrefourmarket']">D3 Police</a>
              <a class="navbar-brand btn" [routerLink]="['/placelagneau']">D4 Logistique</a>
              <a class="navbar-brand btn" [routerLink]="['/foot']">D5 Communication</a>
            </li>
        </nav>

