<nav class="navbar navbar-inverse navbar-md navbar-expand-lg" role="navigation">
            <li style="list-style-type:none">
              <a class="navbar-brand btn" [routerLink]="['/ppd']">Info</a>
              <a class="navbar-brand btn" [routerLink]="['/zoning']">Zoning</a>
              <a class="navbar-brand btn" [routerLink]="['/courcellesmotte']">Gare</a>
              <a class="navbar-brand btn" [routerLink]="['/carrefourmarket']">Carrefour Mrkt</a>
              <a class="navbar-brand btn" [routerLink]="['/placelagneau']">Place Lagneau</a>
              <a class="navbar-brand btn" [routerLink]="['/foot']">Terrain de football</a>
            </li>
</nav>

<div class=""> 
  <u><strong>Terrain de football de Trazegnies :</strong></u><br> Rue du stade, 6183 Trazegnies
 <img src="https://cdn.jsdelivr.net/gh/Gerewy/appli-commune@master/src/app/images/foot/foottrazegnies.PNG" class="img-rounded" alt="Terrain de foot de Trazegnies"> 
</div>
<a href="https://www.google.com/maps/search/?api=1&query=rue+du+stade+trazegnies" class="btn btn-inverse btn-block btn-embossed"><span class="material-icons" >location_on</span></a>
<br>
<div class=""> 
  <u><strong>Terrain de football de Courcelles :</strong></u><br> Rue Hamal, 6180 Courcelles
 <img src="https://cdn.jsdelivr.net/gh/Gerewy/appli-commune@master/src/app/images/foot/footcourcelles.PNG" class="img-rounded" alt="Terrain de foot de Courcelles"> 
</div>
<a href="https://www.google.com/maps/search/?api=1&query=50.466417+4.375255" class="btn btn-inverse btn-block btn-embossed"><span class="material-icons" >location_on</span></a>
<br>
<div class=""> 
  <u><strong>Terrain de foot de Souvret :</strong></u><br> Rue du puits Périer, 6182 Souvret
 <img src="https://cdn.jsdelivr.net/gh/Gerewy/appli-commune@master/src/app/images/foot/footsouvret.PNG" class="img-rounded" alt="Terrain de foot de Souvret"> 
</div>
<a href="https://www.google.com/maps/search/?api=1&query=50.450166+4.355294" class="btn btn-inverse btn-block btn-embossed"><span class="material-icons" >location_on</span></a>
<br>
<div class=""> 
  <u><strong>Terrain de foot de Gouy-lez-Piéton :</strong></u><br> Rue des hautes montées, 6181 Gouy-lez-Piéton
 <img src="https://cdn.jsdelivr.net/gh/Gerewy/appli-commune@master/src/app/images/foot/footgouy.PNG" class="img-rounded" alt="Terrain de foot de Gouy-lez-Piéton"> 
</div>
<a href="https://www.google.com/maps/search/?api=1&query=50.4929363+4.3284316" class="btn btn-inverse btn-block btn-embossed"><span class="material-icons" >location_on</span></a>