<nav class="navbar navbar-inverse navbar-md navbar-expand-lg" role="navigation">
            <li style="list-style-type:none">
              <a class="navbar-brand btn" [routerLink]="['/ppd']">Info</a>
              <a class="navbar-brand btn" [routerLink]="['/zoning']">Zoning</a>
              <a class="navbar-brand btn" [routerLink]="['/courcellesmotte']">Gare</a>
              <a class="navbar-brand btn" [routerLink]="['/carrefourmarket']">Carrefour Mrkt</a>
              <a class="navbar-brand btn" [routerLink]="['/placelagneau']">Place Lagneau</a>
              <a class="navbar-brand btn" [routerLink]="['/foot']">Terrain de foot</a>
            </li>
        </nav>