/* Top Bar */

app-top-bar {
  width: 100%;
  height: 80px;
  background-color: #2c97df;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #000000;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li a {
  font-size: 105% !important;
  display: block;
}
.navbar-inverse {
  background-color: #41a1e2 !important;
}
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 200%!important;
  color: black;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #2c97df;
}

.fancy-button i.material-icons {
  color: #2c97df;
  padding-right: 4px;
}
/* Button Bootstrap Text */
.btntext {
  color:#fdfdfd !important;
  font-size: 170%!important
}
/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #fdfdfd;
  color: rgb(0, 110, 255);
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.option-button {
    height:100%;
}

.btncolor {
  background-color: #56ace5 !important;
}

/* Input */
input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Hyperlink */
a {
  cursor: pointer;
  color: #2c97df;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

