<nav class="navbar navbar-inverse navbar-md navbar-expand-lg" role="navigation">
            <li style="list-style-type:none">
              <a class="navbar-brand btn" [routerLink]="['/ppd']">Info</a>
              <a class="navbar-brand btn" [routerLink]="['/zoning']">Zoning</a>
              <a class="navbar-brand btn" [routerLink]="['/courcellesmotte']">Gare</a>
              <a class="navbar-brand btn" [routerLink]="['/carrefourmarket']">Carrefour Mrkt</a>
              <a class="navbar-brand btn" [routerLink]="['/placelagneau']">Place Lagneau</a>
              <a class="navbar-brand btn" [routerLink]="['/foot']">Terrain de foot</a>
            </li>
        </nav>

<div class=""> 
  <u>Place Lagneau :</u><br> Place Lagneau à Souvret : Rue Jules Berny.

 <img src="https://cdn.jsdelivr.net/gh/Gerewy/appli-commune@master/placelagneau.PNG" class="img-rounded" alt="Zoning de courcelles"> 

</div>
<a href="https://www.google.com/maps/search/?api=1&query=50.451053," class="btn btn-inverse btn-block btn-embossed"><span class="material-icons" >location_on</span></a>