
        <div class='text-justify'>
          <div class='text-center'>  
            <h1>Comite de coordination</h1>
            <h3>COURCELLES</h3>
            
            Première implantation :<br>
         
               <i> Hôtel de Ville<br>
                Rue Jean Jaures 2<br>
                6180 Courcelles<br>
                <a href="tel:071466966" class="btn btn-success btn-sm"><span class="material-icons">call</span></a><br></i>
                <a href="sms:071469669" class="btn btn success btn sm"><span class="material-icons">M</span></a>
            
       
       
            <h3>FONTAINE – L'EVEQUE</h3>
<i>Première implantation :<br>
Service Travaux et d'Environnement<br>
Ruelle aux Loups 2<br>
6140 Fontaine-l'Evêque<br>
Tél. 078/054015<br>
Deuxième implantation (si 1ère inaccessible) :<br>
Château Bivort<br>
Rue du Château 1<br>
6140 Fontaine-l'Evêque<br>
Tél. <a href="tel:048055051">078/055051</a> <br></i></div>
            </div>