<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1" />

<a [routerLink]="['/intro']" class="btn btntext btn-primary btn-block option-button">Introduction</a>
<a   type="button" class="btn btntext btn-danger btn-block option-button ">Comité de Coordination</a>
<a   type="button" class="btn btntext btn-info btn-block option-button ">Tableau nominatif</a>
<a  type="button" class="btn btntext btn-warning btn-block option-button">Points d'attention</a>

<a   type="button" class="btn btntext btn-success btn-block option-button">Déclenchement PUI ?</a>
<a   type="button" class="btn btntext btn-warning btn-block option-button">Schéma COMM R</a>
<a   type="button" class="btn btntext btn-primary btn-block option-button">Zones & périmètres</a>
<a   type="button" class="btn btntext btn-danger btn-block option-button">Missions</a>
                  
<a   type="button" class="btn btntext btn-success btn-block option-button">Contacts</a>